<div class="root">
  <input type="checkbox" id="menu-toggle" />
  <app-side-bar></app-side-bar>

  <div class="main-content">
    <header>
      <!--<div class="header-content">
        <label for="menu-toggle">
          <span class="las la-bars"></span>
        </label>

        <div class="header-menu">
          <label for="">
            <button class="btns"><span class="las la-search"></span></button>
          </label>

          <div class="notify-icon">
            <button class="btns">
              <span class="las la-envelope"></span>
              <span class="notify">4</span>
            </button>
          </div>

          <div class="notify-icon">
            <button class="btns">
              <span class="las la-bell"></span>
              <span class="notify">3</span>
            </button>
          </div>

          <div class="user">
            <button class="btns">
              <div
                class="bg-img"
                style="background-image: url(img/1.jpeg)"
              ></div>
            </button>
            <span class="las la-power-off"></span>
            <button class="btns">Logout</button>
          </div>
        </div>
      </div>-->
    </header>

    <main>
      <div class="page-header">
        <h1>CATEGORY</h1>
        <small>CATEGORY / OPREATION</small>
      </div>
      <!--<ng-container *ngIf="showPopup">
  <div class="popup">
    <button class="close-btn">Close</button>
    <p>This is a popup.</p>
  </div>
</ng-container>-->
      <div class="page-content">
        <div class="records table-responsive">
          <div class="record-header">
            <div class="add">
              <button class="open-btn">Add Category</button>
              <div [formGroup]="categoryForm">
                <div class="popup">
                  <div class="popup-content">
                    <div class="mycontain">
                      <p class="myheader">Enter Your Category Name</p>
                      <input
                        class="addCategory"
                        placeholder="add your Category here"
                        formControlName="categoryName"
                      />

                      <div
                        class="group"
                        *ngFor="let brand of brands; let i = index"
                      >
                        <input
                          formArrayName="brands"
                          (change)="onSelected($event)"
                          [value]="brand.brandId"
                          id="xd"
                          class="myinput"
                          type="checkbox"
                        />
                        <label class="mylabel" for="xd"
                          >{{ brand.brandName }}
                        </label>
                      </div>

                      <!-- <div class="group" *ngFor="let brand of brands">
                        <input
                          class="myinput"
                          type="checkbox"
                          id="xd"
                          formArrayName="brands"
                          (change)="onSelected($event)"
                          [value]="brand.brandId"
                        />{{ brand.brandName }}
                        <label class="mylabel" for="xd"> </label>
                      </div>-->

                      <!--<div class="group">
                        <input class="myinput" type="checkbox" id="figma" />
                        <label class="mylabel" for="figma">dell</label>
                      </div>

                      <div class="group">
                        <input class="myinput" type="checkbox" id="sketch" />
                        <label class="mylabel" for="sketch">mac</label>
                      </div>
                      <div class="group">
                        <input class="myinput" type="checkbox" id="sketch" />
                        <label class="mylabel" for="sketch">mac</label>
                      </div>
                      <div class="group">
                        <input class="myinput" type="checkbox" id="sketch" />
                        <label class="mylabel" for="sketch">mac</label>
                      </div>-->
                      <div class="close-btn">
                        <button class="close-btn">&times;</button>
                      </div>
                      <button
                        type="submit"
                        class="save-btn"
                        (click)="submitData()"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <table width="100%">
              <thead>
                <tr>
                  <th>#</th>
                  <th><span class="las la-sort"></span> Category Name</th>
                  <th><span class="las la-sort"></span> ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of categories">
                  <td>#{{ category.categoryId }}</td>
                  <td>
                    <div class="client">
                      <div class="client-info">
                        <h2>{{ category.categoryName }}</h2>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="actions">
                      <button
                        class="btns"
                        (click)="update(category.categoryId)"
                      >
                        <span class="fa fa-pencil-square"></span>
                      </button>
                      <button
                        class="btns"
                        (click)="getDetails(category.categoryId)"
                      >
                        <span class="fa fa-eye"></span>
                      </button>
                      <button
                        class="btns"
                        (click)="delete(category.categoryId)"
                      >
                        <span class="fa fa-trash"></span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script src="/src/assets/Category.js"></script>
