<div class="root">
  <input type="checkbox" id="menu-toggle" />
  <app-side-bar></app-side-bar>
  <div class="main-content">
    <header>
      <!--<div class="header-content">
        <label for="menu-toggle">
          <span class="las la-bars"></span>
        </label>

        <div class="header-menu">
          <label for="">
            <button class="btns"><span class="las la-search"></span></button>
          </label>

          <div class="notify-icon">
            <button class="btns">
              <span class="las la-envelope"></span>
              <span class="notify">4</span>
            </button>
          </div>

          <div class="notify-icon">
            <button class="btns">
              <span class="las la-bell"></span>
              <span class="notify">3</span>
            </button>
          </div>

          <div class="user">
            <button class="btns">
              <div
                class="bg-img"
                style="background-image: url(img/1.jpeg)"
              ></div>
            </button>
            <span class="las la-power-off"></span>
            <button class="btns">Logout</button>
          </div>
        </div>
      </div>-->
    </header>

    <main>
      <div class="page-header">
        <h1>ORDER</h1>
        <small>ORDER / OPREATION</small>
      </div>

      <div class="page-content">
        <div class="records table-responsive">
          <div class="record-header">
            <div class="add"></div>
          </div>

          <div>
            <!--<table width="100%">-->
            <!--col-md-6 offset-md-3-->
            <!--class="center-div"-->
            <div>
              <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label>Employee Name </label>
                  <input
                    type="text"
                    class="form-control"
                    id="Employee Name"
                    placeholder="Enter Employee Name"
                    name="employeeName"
                    [(ngModel)]="order.empName"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    placeholder="Enter Email"
                    name="email"
                    [(ngModel)]="order.email"
                  />
                </div>
                <div class="form-group">
                  <label>National Id </label>
                  <input
                    type="text"
                    class="form-control"
                    id="nationalId"
                    placeholder="Enter National Id"
                    name="nationalId"
                    [(ngModel)]="order.nationalId"
                  />
                </div>
                <div class="form-group">
                  <label>Product Description </label>
                  <input
                    type="text"
                    class="form-control"
                    id="productDescription"
                    placeholder="Enter product Description"
                    name="productDescription"
                    [(ngModel)]="order.description"
                  />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <!--</table>-->
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
