<div class="sidebar">
  <div class="side-header">
    <h3>G<span>UC</span></h3>
  </div>

  <div class="side-content">
    <div class="profile">
      <!--<div
        class="profile-img bg-img"
        style="background-image: url(img/1.jpeg)"
      ></div>-->
      <h4>Mahmoud Ghounem</h4>
      <!--<small>iT Manager</small>-->
    </div>

    <div class="side-menu">
      <ul>
        <li>
          <a routerLink="/dashBoard" routerLinkActive="active">
            <!-- <span class="fa fa-home"></span> -->
            <small style="margin-left: 5px">Product</small>
          </a>
        </li>
        <li>
          <a routerLink="/category" routerLinkActive="active">
            <!-- <span class="fa fa-grip-vertical"></span> -->
            <small>Category</small>
          </a>
        </li>
        <li>
          <a routerLink="/brand" routerLinkActive="active">
            <!-- <span class="fa fa-clipboard-list"></span> -->
            <small>Brand</small>
          </a>
        </li>
        <li>
          <a routerLink="/orders" routerLinkActive="active">
            <!-- <span class="fa fa-shopping-cart"></span> -->
            <small>Orders</small>
          </a>
        </li>
        <li>
          <a routerLink="/server" routerLinkActive="active">
            <!-- <span class="fa fa-server"></span> -->
            <small>Servers</small>
          </a>
        </li>
        <li>
          <a routerLink="/history" routerLinkActive="active">
            <!-- <span class="fa fa-server"></span> -->
            <small>History</small>
          </a>
        </li>

        <li>
          <a routerLink="/system" routerLinkActive="active">
            <!-- <span class="fa fa-server"></span> -->
            <small> System</small>
          </a>
        </li>
        <li>
          <a routerLink="/serverDetails" routerLinkActive="active">
            <!-- <span class="fa fa-server" style="margin-right: 2px"></span> -->
            <small>Server Details</small>
          </a>
        </li>
        <li>
          <a (click)="logOut()">
            <!-- <span class="fa fa-server" style="margin-right: 2px"></span> -->
            <small>LogOut</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
